.friends_wrapper{
    margin-top:75px;
    text-align: center;

}
.friends{
    font-size: 20px;
    color: #fff;
    border-top:1px solid darkslategray;
    padding-top:20px;
}

ul{
    list-style: none;
    padding-left: 10px;
}