.dialogs{
    color:#fff;
    min-height: 300px;
    display: grid;
    grid-template-columns: 2fr 9fr;
    padding-top: 30px;
    padding-left: 30px;
}



.dialog{
    margin-bottom: 10px;
}
.dialog:hover a{
    color:aqua;
}
.dialog a{
    text-decoration: none;
    color: white;

}

.item{
    color:#fff;
    padding-bottom: 10px;
}
.item .active{
    color: aquamarine;
}
.textarea{
    max-width: 350px;
    height: 30px;
    margin-top: 50px;
}
