.app-wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-areas:
   'h h '
   'n i '
   'n c ';
  grid-template-columns:4fr 14fr ;
}
.app-wrapper-content{

    grid-area: i;
    background-image: linear-gradient(to bottom,#383737, #838282 );
    height: 100vh;


}


